

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Mailbutler Notes</title>
	<!-- Bootstrap & JQuery & Fontawesome -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js" integrity="sha256-FT/LokHAO3u6YAZv6/EKb7f2e0wXY3Ff/9Ww5NzT+Bk=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js" integrity="sha256-i/Jq6Tc8SbPMBrnvq/sOTfH81hW5emVa4OzZPqhcwtI=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css">


</head>

<body>

	<div class="flashes">
			<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
			<div class="flash success">
				<%= flashMessages.success %>
			</div>
			<% } else if (flashMessages.error) { %>
			<div class="flash error">
				<%= flashMessages.error %>
			</div>
			<% } %>
			<% } %>
		</div>
		
	<div id="nav">
		<div class="login-status text-right mt-3 mr-3">
			<% if (loggedIn)  { %>
					Logged in
				<a href="/users/logout"><i class="fas fa-sign-out-alt ml-2"></i></a>
			<%} else {%>
			<div class="bubble log-in">
				<a href="/">Log In</a>
			</div>
			<% } %>
		</div>

	</div>



	<div class="container-xl mt-5">
		<%- body %>
	</div>

</body>

</html>

<script>

	$(function() {
		if (window.location.pathname == "/") {
			$('.log-in').hide();
	  }
	});

	setTimeout(function() {
			$(".flash").fadeOut("slow");
	}, 2000);

</script>
