/* Notes */
.small-card.card {
  background-color: rgba(246,204,118,.35);
  width: 320px;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2) !important;
}

.note-text {
  overflow: hidden;
  resize: none;
  max-height: 70px;
  min-height: 70px;
  font-size: 14px;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
  transition: max-height 0.3s ease-in-out;
}

.note-text:active,
.note-text:focus {
  max-height: 20000px;
  min-height: 70px;
  height: auto;
  transition: max-height 1s ease-in-out;
}

.card-columns{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-header {
  background: transparent;
  border: 0;
}

.add-note>a {
  color: rgba(246,204,118,.5);
}


/* Login */

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

form>h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Flash Messages */

.flash {
  background: rgba(103, 120, 209, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: top;
}

.error {
  background: rgba(209, 46, 42, 0.7);
}
