  <div class="card-columns">
    <% notes.forEach(n => { %>
      <div id="<%= n.id%>" class="card small-card m-3">
        <div class="card-header text-right">
          <a class="btn delete-button"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="card-body mt-0">
            <div class="note-text" contenteditable="true"> <%= n.text %> </div>
        </div>
        <div class="card-footer">Footer</div>
      </div>
    <% }); %>
  </div>

  <script>
    $('.delete-button').on('click', function(event){
        let note_id = $(this).parents('.card').attr('id');
        $.get("notes/delete/" + note_id);
      });

      $('.note-text').on('focusout', function(event){
          let note_id = $(this).parents('.card').attr('id');
          let text = $(this).text();
          $.post("notes/" + note_id, { text: text});
        });

  </script>
